{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mini Market</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="{% static 'website/images/favicon.png' %}"/>
  <link rel="stylesheet" href="{% static 'website/boots/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'website/boots/css/font-awesome.min.css' %}">
  <!--<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">-->
  <script src="{% static 'website/boots/js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'website/boots/js/bootstrap.min.js' %}"></script>

  <!-- Off django -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <!-- End Off django -->

  <script src="{% static 'website/boots/js/angular.min.js' %}"></script>
</head>
<body style="font-family: 'Roboto', sans-serif;" ng-app="myApp" ng-controller="myCtrl">

	<!-- Modal -->
	<div class="container">
	<!-- Trigger the modal with a button -->
	<button style="position: fixed; left:5%; bottom: 0;" type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#carter">Open Small Modal</button>

	<!-- Modal -->
	<div class="modal fade" id="carter" role="dialog">
		<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Modal Header</h4>
			</div>
			<div class="modal-body">
			<p>This is a small modal.</p>
			{% verbatim %}
			<div class="angular-div">
				<!--
				<div>{{ TotalPassed }}</div>
				<input type="text" ng-model="TotalPassed">
				<br>
				<div>{{ arrayCart }}</div>
				<input type="text" ng-model="arrayCart">
				<br>
				<hr>
				-->
				<div ng-repeat="test in arrayCart track by $index">
					<div style="display: inline-block;" ng-if="$even">{{ test }}</div> 
					<div style="display: inline-block;" ng-if="$odd"><input type="text" ng-model="test"></div> 
				</div>
				<br>
				<div>{{ $scope.arrayCartProduct }}</div>
			</div>
			{% endverbatim %}
			
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
		</div>
	</div>
	</div>
	<!-- End Modal -->
<script>
 	var totalFromDjango = parseFloat("{{ passed_total }}");
	 var cartFromDjango = [];

	var products = [
  	{ 
    	name: 'Fresh Tomatoes', 
    	price: 5.99, 
    	quantity: 0,
  	},
  	{ 
    	name: 'Fresh Apples', 
    	price: 5.99, 
    	quantity: 0,
  	},
  	{ 
    	name: 'Monster Pumpkins', 
    	price: 17.99, 
    	quantity: 0,
  	},
  	{ 
    	name: 'Milky Tart', 
    	price: 35.99, 
    	quantity: 0,
  	},
  	{ 
    	name: 'Fresh Tomatoes', 
    	price: 5.99, 
    	quantity: 0,
  	}, 
  	{ 
    	name: 'Fresh Apples', 
    	price: 5.99, 
    	quantity: 0,
  	},
  	{ 
    	name: 'Monster Pumpkins', 
    	price: 17.99, 
    	quantity: 0,
  	},
  	{ 
    	name: 'Milky Tart', 
    	price: 35.99, 
    	quantity: 0,
  	},
	];

	{% for data in passed_cart %}
	cartFromDjango.push("{{ data }}");
	{% endfor %}
</script>

{% verbatim %}
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.arrayCart = cartFromDjango;
	$scope.TotalPassed = totalFromDjango;

	var tempCartProduct = [];

	for (i = 0; i < cartFromDjango.length; i++) { 
		alert();
		tempCartProduct.push(cartFromDjango[i]);
	}
	$scope.arrayCartProduct = tempCartProduct;

})
</script>
{% endverbatim %}

</body>
</html>