{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mini Market</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="{% static 'website/images/favicon.png' %}"/>
  <link rel="stylesheet" href="{% static 'website/boots/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'website/boots/css/font-awesome.min.css' %}">
  <!--<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">-->
  <script src="{% static 'website/boots/js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'website/boots/js/bootstrap.min.js' %}"></script>

  <!-- Off django -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <!-- End Off django -->

  <script src="{% static 'website/boots/js/angular.min.js' %}"></script>
</head>
<body style="font-family: 'Roboto', sans-serif;" ng-app="myApp" ng-controller="myCtrl">
<style>
	.item-image{
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		width: 100px;
		height: 100px;
	}
	.item-image-container{
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		border-radius: 5px;
		text-align: center;
		border: 1px solid black;
		margin-bottom: 15px;
	}
	.item-price{
		padding: 1%;
		border: 1px solid gray;
		text-align: center;
	}
	.item-description{
		padding: 1%;
		border: 1px solid gray;
		text-align: center;
	}
	.item-add-cart{
		width: 100%;
		padding: 1%;
		margin-top: 15px;
		margin-bottom: 100px;
		text-align: center;
	}
	.amount-place-holder{
		width: 100%;
		text-align: center;
		border-radius: 5px;
	}
	.cart-dividers{
		text-align: center;
		width: 70px;
		display: inline-block;
	}
	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	input[type="number"] {
		-moz-appearance: textfield;
	}
	.disabled-minus{
		cursor: not-allowed;
	}
</style>
	<div class="container" style="border: 1px solid brown; padding: 1%;">
		<div>
			<div class="col-md-3 col-sm-12">
				<div class="item-image-container">
					<img src="{% static 'website/images/tomato-1.jpg' %}" class="item-image">
				</div>
				<div class="col-md-6 col-sm-12 item-description">
					<span>Fresh Tomatoes</span>
				</div>
				<div class="col-md-6 col-sm-12 item-price">
					<span>$5.99</span>
				</div>
				<div class="col-md-12 col-sm-12 item-add-cart">
					<div ng-click="MinusOne(1)" class="item1 cart-dividers btn disabled-minus btn-default">
						<i class="glyphicon glyphicon-minus"></i>
					</div>
					<div class="cart-dividers">
						<input id="bar-code-1" type="number" placeholder="0" min="0" class="amount-place-holder" ng-model="item1" ng-change="Revolver(1)" oninput="this.value = Math.abs(this.value)">
					</div>
					<div ng-click="PlusOne(1)" class="cart-dividers btn btn-info">
						<i class="glyphicon glyphicon-plus"></i>
					</div>
				</div>
			</div>

			<div class="col-md-3 col-sm-12">
				<div class="item-image-container">
					<img src="{% static 'website/images/apple-1.jpg' %}" class="item-image">
				</div>
				<div class="col-md-6 col-sm-12 item-description">
					<span>Fresh Apples</span>
				</div>
				<div class="col-md-6 col-sm-12 item-price">
					<span>$5.99</span>
				</div>
				<div class="col-md-12 col-sm-12 item-add-cart">
					<div ng-click="MinusOne(2)" class="item2 cart-dividers btn disabled-minus btn-default">
						<i class="glyphicon glyphicon-minus"></i>
					</div>
					<div class="cart-dividers">
						<input type="number" placeholder="0" min="0" class="amount-place-holder" ng-model="item2" ng-change="Revolver(2)" oninput="this.value = Math.abs(this.value)">
					</div>
					<div ng-click="PlusOne(2)" class="cart-dividers btn btn-info">
						<i class="glyphicon glyphicon-plus"></i>
					</div>
				</div>
			</div>

			<div class="col-md-3 col-sm-12">
				<div class="item-image-container">
					<img src="{% static 'website/images/pumpkin-1.jpg' %}" class="item-image">
				</div>
				<div class="col-md-6 col-sm-12 item-description">
					<span>Monster Pumpkins</span>
				</div>
				<div class="col-md-6 col-sm-12 item-price">
					<span>$17.99</span>
				</div>
				<div class="col-md-12 col-sm-12 item-add-cart">
					<div ng-click="MinusOne(3)" class="item3 cart-dividers btn disabled-minus btn-default">
						<i class="glyphicon glyphicon-minus"></i>
					</div>
					<div class="cart-dividers">
						<input type="number" placeholder="0" min="0" class="amount-place-holder" ng-model="item3" ng-change="Revolver(3)" oninput="this.value = Math.abs(this.value)">
					</div>
					<div ng-click="PlusOne(3)" class="cart-dividers btn btn-info">
						<i class="glyphicon glyphicon-plus"></i>
					</div>
				</div>
			</div>

			<div class="col-md-3 col-sm-12">
				<div class="item-image-container">
					<img src="{% static 'website/images/tart-1.jpg' %}" class="item-image">
				</div>
				<div class="col-md-6 col-sm-12 item-description">
					<span>Milky Tart</span>
				</div>
				<div class="col-md-6 col-sm-12 item-price">
					<span>$35.99</span>
				</div>
				<div class="col-md-12 col-sm-12 item-add-cart">
					<div ng-click="MinusOne(4)" class="item4 cart-dividers btn disabled-minus btn-default">
						<i class="glyphicon glyphicon-minus"></i>
					</div>
					<div class="cart-dividers">
						<input type="number" placeholder="0" min="0" class="amount-place-holder" ng-model="item4" ng-change="Revolver(4)" oninput="this.value = Math.abs(this.value)">
					</div>
					<div ng-click="PlusOne(4)" class="cart-dividers btn btn-info">
						<i class="glyphicon glyphicon-plus"></i>
					</div>
				</div>
			</div>

			<!-------------------------------------------------------->

			<div class="col-md-3 col-sm-12">
				<div class="item-image-container">
					<img src="{% static 'website/images/tomato-1.jpg' %}" class="item-image">
				</div>
				<div class="col-md-6 col-sm-12 item-description">
					<span>Fresh Tomatoes</span>
				</div>
				<div class="col-md-6 col-sm-12 item-price">
					<span>$5.99</span>
				</div>
				<div class="col-md-12 col-sm-12 item-add-cart">
					<div ng-click="MinusOne(5)" class="item5 cart-dividers btn disabled-minus btn-default">
						<i class="glyphicon glyphicon-minus"></i>
					</div>
					<div class="cart-dividers">
						<input type="number" placeholder="0" min="0" class="amount-place-holder" ng-model="item5" ng-change="Revolver(5)" oninput="this.value = Math.abs(this.value)">
					</div>
					<div ng-click="PlusOne(5)" class="cart-dividers btn btn-info">
						<i class="glyphicon glyphicon-plus"></i>
					</div>
				</div>
			</div>

			<div class="col-md-3 col-sm-12">
				<div class="item-image-container">
					<img src="{% static 'website/images/apple-1.jpg' %}" class="item-image">
				</div>
				<div class="col-md-6 col-sm-12 item-description">
					<span>Fresh Apples</span>
				</div>
				<div class="col-md-6 col-sm-12 item-price">
					<span>$5.99</span>
				</div>
				<div class="col-md-12 col-sm-12 item-add-cart">
					<div ng-click="MinusOne(6)" class="item6 cart-dividers btn disabled-minus btn-default">
						<i class="glyphicon glyphicon-minus"></i>
					</div>
					<div class="cart-dividers">
						<input type="number" placeholder="0" min="0" class="amount-place-holder" ng-model="item6" ng-change="Revolver(6)" oninput="this.value = Math.abs(this.value)">
					</div>
					<div ng-click="PlusOne(6)" class="cart-dividers btn btn-info">
						<i class="glyphicon glyphicon-plus"></i>
					</div>
				</div>
			</div>

			<div class="col-md-3 col-sm-12">
				<div class="item-image-container">
					<img src="{% static 'website/images/pumpkin-1.jpg' %}" class="item-image">
				</div>
				<div class="col-md-6 col-sm-12 item-description">
					<span>Monster Pumpkins</span>
				</div>
				<div class="col-md-6 col-sm-12 item-price">
					<span>$17.99</span>
				</div>
				<div class="col-md-12 col-sm-12 item-add-cart">
					<div ng-click="MinusOne(7)" class="item7 cart-dividers btn disabled-minus btn-default">
						<i class="glyphicon glyphicon-minus"></i>
					</div>
					<div class="cart-dividers">
						<input type="number" placeholder="0" min="0" class="amount-place-holder" ng-model="item7" ng-change="Revolver(7)" oninput="this.value = Math.abs(this.value)">
					</div>
					<div ng-click="PlusOne(7)" class="cart-dividers btn btn-info">
						<i class="glyphicon glyphicon-plus"></i>
					</div>
				</div>
			</div>

			<div class="col-md-3 col-sm-12">
				<div class="item-image-container">
					<img src="{% static 'website/images/tart-1.jpg' %}" class="item-image">
				</div>
				<div class="col-md-6 col-sm-12 item-description">
					<span>Milky Tart</span>
				</div>
				<div class="col-md-6 col-sm-12 item-price">
					<span>$35.99</span>
				</div>
				<div class="col-md-12 col-sm-12 item-add-cart">
					<div ng-click="MinusOne(8)" class="item8 cart-dividers btn disabled-minus btn-default">
						<i class="glyphicon glyphicon-minus"></i>
					</div>
					<div class="cart-dividers">
						<input type="number" placeholder="0" min="0" class="amount-place-holder" ng-model="item8" ng-change="Revolver(8)" oninput="this.value = Math.abs(this.value)">
					</div>
					<div ng-click="PlusOne(8)" class="cart-dividers btn btn-info">
						<i class="glyphicon glyphicon-plus"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% verbatim %}
	<div style="position: fixed; right:0; bottom: 0; background-color: #F7F7F7; padding: 1%; width: 250px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
		<h1>RIP</h1>
		<input type="text" value="{{ (item1 * itemValue1) + (item2 * itemValue2) + (item3 * itemValue4) + (item4 * itemValue4) + (item5 * itemValue5) + (item6 * itemValue6) + (item7 * itemValue7) + (item8 * itemValue8) }}">
		<div class="btn bt-default" style="border-radius: 100%; border: 1px solid brown;">
			<i class="glyphicon glyphicon-shopping-cart"></i>
		</div>
		<input type="text" value="{{ arrayText }}">
		<ul>
			<li ng-repeat="text in arrayText">{{ text }} <i class="glyphicon glyphicon-remove-sign" style="color: blue;"></i></li>
			<li ng-repeat="text in arrayText">{{ text.itemName }} - {{ text.name }} - {{ text.quantity }} <i class="glyphicon glyphicon-remove-sign" style="color: red;"></i></li>
			<li ng-repeat="text in arrayText"><span ng-repeat="sub in text">{{$index}} {{ sub.itemName }} - {{ sub.name }} - {{ sub.quantity }}</span> <i class="glyphicon glyphicon-remove-sign" style="color: brown;"></i></li>
		</ul>
	</div>
		<ul>
			<li ng-repeat="text in arrayBionic">{{ text }} <i class="glyphicon glyphicon-remove-sign" style="color: blue;"></i></li>
		</ul>
	{% endverbatim %}

	{% verbatim %}
	<div style="position: fixed; left:0; bottom: 0; background-color: #F7F7F7; padding: 1%; width: 250px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
		<h1>RIP</h1>
		<input id="pricing-pane-a" name="pricing-pane-a" type="text" value="{{ (item1 * itemValue1) + (item2 * itemValue2) + (item3 * itemValue4) + (item4 * itemValue4) + (item5 * itemValue5) + (item6 * itemValue6) + (item7 * itemValue7) + (item8 * itemValue8) }}">
		<input id="listing-pane-a" name="listing-pane-a" type="hidden" value="{{ arrayMetan }}">
		<hr>
		<div>Items: {{ arrayBionic }}</div>
		<hr>
		<div>quantities: {{ arrayMetan }}</div>
		<hr>
		<div>Dicts: {{ arrayEmbryonic }}</div>
		<hr>
		<!--
		<ul>
			<li ng-repeat="test in arrayMetan"><div style="display: inline-block;" ng-if="$even">{{ test }}</div> <div style="display: inline-block;" ng-if="$odd">{{ test }}</div> <i ng-click="remove(test)" class="glyphicon glyphicon-remove-sign" style="color: orange;"></i></li>
		</ul>
		-->
		<div ng-repeat="test in arrayMetan">
			<div style="display: inline-block;" ng-if="$even">{{ test }}</div> 
			<div style="display: inline-block;" ng-if="$odd">{{ test }}</div> 
			<div style="display: inline-block;"><i ng-click="remove(test)" class="glyphicon glyphicon-remove-sign" style="color: orange;"></i></div>
		</div>
	</div>
	{% endverbatim %}

	<div style="position: fixed; right:0; top: 0; background-color: #F7F7F7; padding: 1%; width: 250px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
		<input type="text" required="" name="username" maxlength="150" id="id_username" autofocus="">
	</div>

	<!-- Modal -->
	<div class="container">
	<!-- Trigger the modal with a button -->
	<button style="position: fixed; left:5%; bottom: 0;" type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#carter">Open Small Modal</button>

	<!-- Modal -->
	<div class="modal fade" id="carter" role="dialog">
		<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Modal Header</h4>
			</div>
			<div class="modal-body">
			<p>This is a small modal.</p>
			
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
		</div>
	</div>
	</div>
	<!-- End Modal -->

{% verbatim %}
<!-- Angular Test Area -->
<div >

First Name: <input type="text" ng-model="firstName"><br>
Last Name: <input type="text" ng-model="lastName"><br>
<br>
Full Name: {{ firstName + " " + lastName + " " + itemTotal + " " + Total2}}
<button class="btn btn-default" ng-click="addThat()">Click</button>
<input type="text" ng-model="booll">
<br>
<button onclick="addToCart(1)">Do it</button>
<input type="text" ng-model="myCartItems">

</div>

<script>
/* Prevent negatives in inputs */
function preventNegativaa(index){
	var e = document.getElementById(index);
	if(!((e.keyCode > 95 && e.keyCode < 106) || (e.keyCode > 47 && e.keyCode < 58) || e.keyCode == 8)) {
        return false;
    }
}
function preventNegativa(index){
	var number = document.getElementById(index);
	number.onkeydown = function(e) {
			if(!((e.keyCode > 95 && e.keyCode < 106)
			|| (e.keyCode > 47 && e.keyCode < 58) 
			|| e.keyCode == 8)) {
				return false;
			}
		}
}

//Worked fine - oninput="this.value = Math.abs(this.value)"

/* End negatives */

/* Fill this up with Django */
var products = [
  	{ 
    	name: 'Fresh Tomatoes', 
    	price: 5.99, 
    	quantity: 0,
  	},
  	{ 
    	name: 'Fresh Apples', 
    	price: 5.99, 
    	quantity: 0,
  	},
  	{ 
    	name: 'Monster Pumpkins', 
    	price: 17.99, 
    	quantity: 0,
  	},
  	{ 
    	name: 'Milky Tart', 
    	price: 35.99, 
    	quantity: 0,
  	},
  	{ 
    	name: 'Fresh Tomatoes', 
    	price: 5.99, 
    	quantity: 0,
  	}, 
  	{ 
    	name: 'Fresh Apples', 
    	price: 5.99, 
    	quantity: 0,
  	},
  	{ 
    	name: 'Monster Pumpkins', 
    	price: 17.99, 
    	quantity: 0,
  	},
  	{ 
    	name: 'Milky Tart', 
    	price: 35.99, 
    	quantity: 0,
  	},
	];

/* End */


var poneytail = "banana";
var dobleU = {};
var total_van_spanzer = 0;

/* Function to trigger ajax click */
function sendToAjax(){
	setTimeout(function(){$("#pricing-pane-a").trigger("click");}, 1000);
}
/* End Function to trigger ajax click */

var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.firstName= poneytail;
    $scope.lastName= "Doe";
	$scope.booll = 0;
	$scope.addThat = function(){
		//alert('bleh');
		$scope.booll = 2+2;
		return 2 + 2;
	};
	/* Market Scope */
	$scope.item1 = products[0].quantity;
	$scope.itemValue1 = products[0].price;

	$scope.item2 = products[1].quantity;
	$scope.itemValue2 = products[1].price;

	$scope.item3 = products[2].quantity;
	$scope.itemValue3 = products[2].price;

	$scope.item4 = products[3].quantity;
	$scope.itemValue4 = products[3].price;

	$scope.item5 = products[4].quantity;
	$scope.itemValue5 = products[4].price;

	$scope.item6 = products[5].quantity;
	$scope.itemValue6 = products[5].price;

	$scope.item7 = products[6].quantity;
	$scope.itemValue7 = products[6].price;

	$scope.item8 = products[7].quantity;
	$scope.itemValue8 = products[7].price;

	$scope.itemTotal = parseInt($scope.item1) + parseInt($scope.item2) + parseInt($scope.item3) + parseInt($scope.item4) + parseInt($scope.item5) + parseInt($scope.item6) + parseInt($scope.item7) + parseInt($scope.item8);
	
	$scope.myCartItems = [];

	$scope.addToCart = function(item){
		$scope.myCartItems.push(item);
	}

	$scope.PlusOne = function(index){
		var item_value = 'item' + index.toString();
		this[item_value] += 1;
		$('.' + item_value).removeClass('disabled-minus btn-default');
		$('.' + item_value).addClass('btn-danger');
		var description = index - 1;
		
		var item_package = [{ 
				itemName: item_value,
				name: products[description].name,
				price: products[description].price,
				quantity: this[item_value],
			}];
			
		var special_dict = {
			'id': index,
			'stuff': {
				name: products[description].name,
				quantity: this[item_value],
			}
		};
		
		//alert( $scope.arrayBionic.indexOf(products[description].name) );
		if($scope.arrayBionic.indexOf(products[description].name) != -1){
			/* pop and lock item name */
			var indexRevalued = $scope.arrayBionic.indexOf(products[description].name);
			$scope.arrayBionic.splice(indexRevalued, 1, products[description].name);

			/* pop and lock item quantity */
			var indexQuantity = $scope.arrayMetan.indexOf(products[description].name);
			$scope.arrayMetan.splice(indexQuantity, 2, products[description].name, this[item_value]);
			
		} else {
			$scope.arrayBionic.push(products[description].name);
			$scope.arrayEmbryonic.push(products[description].name);
			$scope.arrayMetan.push(products[description].name);
			$scope.arrayMetan.push(this[item_value]);
		}

		//$scope.arrayText.push(products[description].name);
		//$scope.arrayBionic.push(products[description].name);

		var shini = index.toString();
		var reaper = {
			shini: this[item_value]
			};
		//$scope.arrayMetan.push(reaper);
		//$scope.arrayMetan.push(this[item_value]);
		//$scope.arrayEmbryonic.push(products[description].name);
		sendToAjax();
	};

	$scope.MinusOne = function(index){
		var item_value = 'item' + index.toString();
		if (this[item_value] != 0){
			this[item_value] -= 1;
			var description = index - 1;

			if($scope.arrayBionic.indexOf(products[description].name) != -1){
				/* pop and lower item quantity */
				var indexQuantity = $scope.arrayMetan.indexOf(products[description].name);
				$scope.arrayMetan.splice(indexQuantity, 2, products[description].name, this[item_value]);	
			}

			if (this[item_value] == 0){
				$('.' + item_value).removeClass('btn-danger');$('.' + item_value).addClass('disabled-minus btn-default');
				/* pop and blow items */
				var indexRevalued = $scope.arrayBionic.indexOf(products[description].name);
				$scope.arrayBionic.splice(indexRevalued, 1);
				$scope.arrayEmbryonic.splice(indexRevalued, 1);

				var indexQuantity = $scope.arrayMetan.indexOf(products[description].name);
				$scope.arrayMetan.splice(indexQuantity, 2);
			}
		} else {
			$('.' + item_value).removeClass('btn-danger');
			$('.' + item_value).addClass('disabled-minus btn-default');
			/* pop and blow items */
			var indexRevalued = $scope.arrayBionic.indexOf(products[description].name);
			$scope.arrayBionic.splice(indexRevalued, 1);

			var indexQuantity = $scope.arrayMetan.indexOf(products[description].name);
			$scope.arrayMetan.splice(indexQuantity, 2);
		}
		sendToAjax();
	};

	$scope.Revolver = function(index){
		if(index != null){
			var item_value = 'item' + index.toString();
			var description = index - 1;

			if (this[item_value] != 0){
				$('.' + item_value).removeClass('disabled-minus btn-default');
				$('.' + item_value).addClass('btn-danger');

				if($scope.arrayBionic.indexOf(products[description].name) != -1){
					var indexRevalued = $scope.arrayBionic.indexOf(products[description].name);
					$scope.arrayBionic.splice(indexRevalued, 1, products[description].name);
					var indexQuantity = $scope.arrayMetan.indexOf(products[description].name);
					$scope.arrayMetan.splice(indexQuantity, 2, products[description].name, this[item_value]);	
				} else {
					$scope.arrayBionic.push(products[description].name);
					$scope.arrayEmbryonic.push(products[description].name);
					$scope.arrayMetan.push(products[description].name);
					$scope.arrayMetan.push(this[item_value]);
				}

			} else {
				$('.' + item_value).removeClass('btn-danger');
				$('.' + item_value).addClass('disabled-minus btn-default');
				if($scope.arrayBionic.indexOf(products[description].name) != -1){
					var indexRevalued = $scope.arrayBionic.indexOf(products[description].name);
					$scope.arrayBionic.splice(indexRevalued, 1);
					var indexQuantity = $scope.arrayMetan.indexOf(products[description].name);
					$scope.arrayMetan.splice(indexQuantity, 2);
				}
			}
			sendToAjax();
		}
	};

	$scope.TryOne = function(index){
		alert(index);
	};

	function passToCart(index){
		alert(index);
	}

	$scope.myText = "Let's go";

	/* Array of product names */
    $scope.arrayBionic = [];

	/* Array of product quantities */
    $scope.arrayMetan = [];

	/* Array of product dicts */
    $scope.arrayEmbryonic = [];

    $scope.arrayText = [
            'Hello',
            //'world',
			//'bye'
        ];
	//var point = { x:3, y:2 };
	//$scope.arrayText.push(point);

    $scope.addText = function() {
        $scope.arrayText.push(this.myText);
		//var point = [{ x:3, y:2 }];
		$scope.arrayText.push(products[2].quantity);
		var products = [
			{ 
				name: 'Fresh Tomatoes', 
				price: 5.99, 
				quantity: 0,
			}
		];
    }

	//Delete from array
	$scope.remove = function(item) { 
	var index = $scope.arrayBionic.indexOf(item);
	$scope.arrayBionic.splice(index, 1);     
	}

	function removeFunction(item){
		var index = $scope.arrayBionic.indexOf(item);
		$scope.arrayBionic.splice(index, 1);
	}
	/* End Market Scope */
});
</script>
<!-- End Test -->
{% endverbatim %}

<!--
	<br>
<footer class="avenirRegular" style="background-color: black; clear: both; color: white; padding: 1%; text-align: center;">
	<h4>Copyright © 2018 Mini Market, All rights reserved.</h4>
</footer>
-->


<script>
	/* On window close - Working */
	/*
window.addEventListener("beforeunload", function (e) {
  var confirmationMessage = "\o/";
  (e || window.event).returnValue = confirmationMessage; //Gecko + IE
  return confirmationMessage;                            //Webkit, Safari, Chrome
});
*/
</script>


<script>
$("#id_username").change(function () {
	var username = $(this).val();

	$.ajax({
	url: '/ajax/validate_username/',
	data: {
		'username': username
	},
	dataType: 'json',
	success: function (data) {
		if (data.is_taken) {
		//alert("A user with this username already exists.");
		}
	}
	});

});
</script>

<script>
//$("#pricing-pane-a").trigger("click");
/*
$("#textarea").bind("input change", function() {
    alert("change happend");
});
*/

$("#pricing-pane-a").change(function () {
	var total = $(this).val();
	var analyzer = $('#listing-pane-a').val();

	$.ajax({
	url: '/ajax/totalizer/',
	data: {
		'total': total,
		'analyzer': analyzer
	},
	dataType: 'json',
	success: function (data) {
		if (data.is_taken) {
		//alert("A user with this username already exists.");
		}
	}
	});

});

$("#pricing-pane-a").click(function(){
    //$(this).hide();

	//var total = $(this).val();
	var total = document.getElementById('pricing-pane-a').value;

	//var analyzer = $('#listing-pane-a').val();
	var analyzer = document.getElementById('listing-pane-a').value;

	$.ajax({
	url: '/ajax/totalizer/',
	data: {
		'total': total,
		'analyzer': analyzer
	},
	dataType: 'json',
	success: function (data) {
		if (data.is_taken) {
		//alert("A user with this username already exists.");
		}
	}
	});

});

/*
$("#pricing-pane-a").on("change", function () {
	var total = $(this).val();
	var analyzer = $('#listing-pane-a').val();

	$.ajax({
	url: '/ajax/totalizer/',
	data: {
		'total': total,
		'analyzer': analyzer
	},
	dataType: 'json',
	success: function (data) {
		if (data.is_taken) {
		alert("A user with this username already exists.");
		}
	}
	});

});
*/


//document.getElementById("myInput").oninput = function() {myFunction()};
/*
$("#pricing-pane-a").oninput = function() {
	var total = $(this).val();
	var analyzer = $('#listing-pane-a').val();

	$.ajax({
	url: '/ajax/totalizer/',
	data: {
		'total': total,
		'analyzer': analyzer
	},
	dataType: 'json',
	success: function (data) {
		if (data.is_taken) {
		alert("A user with this username already exists.");
		}
	}
	});	
	};
	*/
</script>

</body>
</html>