venv
*.pyc
staticfiles
.env
db.sqlite3
local_settings.py
website/templates/webiste/index.1.html
website/emailer.py
website/emailer_script.py
website/emailer_generator.py
website/background_tasks_handler.py